.container-linkedin{
border: 2px solid black;
border-radius: 20px;
width: 30%;
height: 40px;
padding: 5px;
text-align: center;
justify-content: center;
align-items: center;
text-decoration: none;
background-color: brown;
font-size: 20px;
}